<head>
    <link rel="search" type="application/opensearchdescription+xml" title="Hestia" href="/opensearch/{{.api_key}}/opensearch.xml">
</head>

<a href="/settings">Settings</a>
<a href="/logout">Logout</a><br>
<p>{{search_uses.0}} Default Searches, {{search_uses.1}} Meta Searches<p><br>

<form method="POST" action="/search/{{.api_key}}">
    <input name="q" type="text" autofocus="true" search_/>
</form>

<ul>
{{#links}}
    <li><a href="{{.url}}">{{.name}}</a></li>
{{/links}}
</ul>

<form method="POST" action="/reminders/new">
    <label for="reason">Reason:</label>
    <input name="reason" type="text"/>
    <label for="recurrence">Recurrence:</label>
    <select name="recurrence">
        <option value="none">None</option>
        <option value="day">Day</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
        <option value="year">Year</option>
    </select>
    <label for="date">Date:</label>
    <input name="date" type="date"/>
    <button type="submit">Add Reminder</button>
</form>

<ul>
    {{#reminders.non_recurring}}
    <li>{{.0}} @ {{.1}}</li>
    {{/reminders.non_recurring}}
    {{#reminders.day}}
    <li>{{.0}} @ {{.1}}</li>
    {{/reminders.day}}
    {{#reminders.week}}
    <li>{{.0}} @ {{.1}}</li>
    {{/reminders.week}}
    {{#reminders.month}}
    <li>{{.0}} @ {{.1}}</li>
    {{/reminders.month}}
    {{#reminders.year}}
    <li>{{.0}} @ {{.1}}</li>
    {{/reminders.year}}
</ul>
